TABLE.gj-grid {
    table-layout: auto !important;
}

thead, th, td, td>div {
    white-space: nowrap !important;
}

.table-scroll {
    overflow-x: auto !important;
}

.card-body {
    padding: 0 !important;
}

.table-add-btn {
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0 15px;
}

.table-save-btn {
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 0;
    text-align: right;
}

.j_children_table .table caption{
    caption-side: top;
}

.j_children_table .table{
    height: 100vh;
}

.j_children_table .table .thead-dark th {
    color: #fff;
    background-color: #333547;
    border-color: #333547;
    text-align: center;
}

.table td, .table th{
    vertical-align: middle;   
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0,0,0,0.1);
}

.input-group{
    width: 135px;
}

select{
    border: 0;
}

.zero{
    background: white;
}

.zero select{
    background: white;
    color: black;
}

.full-day{
    background: lightgreen;
}

.full-day select{
    background: lightgreen;
    color: white;
}

.half-day{
    background: yellow;
}

.half-day select{
    background: yellow;
    color: white;
}

.medic{
    background: orange;
}

.medic select{
    background: orange;
    color: white;
}

.arroad{
    background: lightblue;
}

.arroad select{
    background: lightblue;
    color: white;
}

.out{
    background: red;
}

.out select{
    background: red;
    color: white;
}