TABLE.gj-grid {
    table-layout: auto !important;
}

thead, th, td, td>div {
    white-space: nowrap !important;
}

.table-scroll {
    overflow-x: auto !important;
}

.card-body {
    padding: 0 !important;
}

.table-add-btn {
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0 15px;
}

.table-save-btn {
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 0;
    text-align: right;
}

.j_children_table .table caption {
    caption-side: top;
}

.j_children_table .table {
    height: 100vh;
}

.j_children_table .table .thead-dark th {
    color: #fff;
    background-color: #333547;
    border-color: #333547;
    text-align: center;
}

.table td, .table th {
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

select {
    border: 0;
    font-weight: 600;
    appearance: none;
    outline: none;
    padding: 5px 0;
}

select>option{
    background: white;
    color: black;
    padding: 5px;
    border: 0;
}

th[scope="col"]::first-letter{
    text-transform: uppercase;
}

.zero {
    background: white;
}

.zero select {
    background: white;
    color: black;
}

.full-day {
    background: #64B300;
}

.full-day select {
    background: #64B300;
    color: white;
}

.half-day {
    background: #B38C00;
}

.half-day select {
    background: #B38C00;
    color: white;
}

.medic {
    background: #4f2e23;
}

.medic select {
    background: #4f2e23;
    color: white;
}

.arroad {
    background: #0088B3;
}

.arroad select {
    background: #0088B3;
    color: white;
}

.out {
    background: #B30000;
}

.out select {
    background: #B30000;
    color: white;
}

.input-group{
    text-align: center;
}